

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    height: 100vh;
}


/* CSS du menu*/
.menu {
    background-color: #f4f4f4;
    padding: 10px;
    width: 200px;
    position: fixed; /* Fixer le menu en position */
    top: 0;          /* Positionner le menu en haut de la page */
    left: 0;         /* Positionner le menu à gauche de la page */
    height: 100vh;   /* Faire en sorte que le menu prenne toute la hauteur de la page */
    overflow-y: auto; /* Permettre de défiler dans le menu si son contenu est trop grand */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Optionnel : Ajouter une légère ombre */
}

#solutions-count {
    font-size: 20px;
}


.menu-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    text-align: left;
}

.menu-button.active {
    background-color: #00bfff;
    color: white;
}


/*Caracéristiques des pages */

/*Conteneur ensemble des pages*/
.content {
    flex: 1;
    padding: 20px;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    page-break-after: always; 


} 



.page-schema {
    display: none; /* Masquer toutes les pages par défaut */
}

.page-schema.active {
    display: block; /* Afficher uniquement les pages avec la classe active */
}

.page-group {
    display: none;
    width: 21cm;
    min-height: 29.7cm;
    margin: 0 auto;
    padding: px;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    background-color: white;
}

.page-group.active {
    display: block;
}







/*CSS pour la page de garde*/

#bandeau_DD_Eurevia {
    width:100%;
}

/* .grand-caractere {
    font-size: 15px;
    padding: 10px;  
    width: 100%;   
    height: 80px;  
    box-sizing: border-box; 
    display: block;
    margin: 0,auto;
} */

 .grand-caractere {
    font-size: 20px;
    padding: 5px;  
    width: 74%; /* Définit la largeur à 70% de la page */
    height: calc(1.7em * 3); /* Hauteur pour 3 lignes de texte */
    box-sizing: border-box; 
    display: block; 
    margin: 0 auto; /* Centrage horizontal */
    text-align: center; /* Centre le texte horizontalement */
    line-height: 1.5em;
    resize: none;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    border: 1px solid rgba(0, 0, 0, 0.2); /* Bordure fine et semi-transparente */
    border-radius: 5px; /* Coins légèrement arrondis */
    padding: 10px; /* Espacement interne pour l’aération */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
}

.titre-projet {
    display: flex;
    
    align-items:start; /* Aligne verticalement */
}

label .titre {
 
    font-size: 20px;
    justify-content: left;
}






.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    height: 180px;
}

#Entreprise {
    font-size: 15px;
    padding: 5px;  
    width: 250px; /* Définit la largeur à 70% de la page */
    height: calc(1.7em * 3); /* Hauteur pour 3 lignes de texte */
    box-sizing: border-box; 
    display: block; 
   
    /* text-align: center; */
    line-height: 1.5em;
    resize: none;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    border: 1px solid rgba(0, 0, 0, 0.2); /* Bordure fine et semi-transparente */
    border-radius: 5px; /* Coins légèrement arrondis */
    padding: 10px; /* Espacement interne pour l’aération */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */



/* 

    height: 30px;
    font-size: 20px;
    width: 250px;
    border: 1px solid lightgray;  */

}

.dest-container {
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    align-items: flex-start; /* Aligne le label en haut à gauche */

    
}



.opp-etude-container {
    display: flex;
    flex-direction: column; /* Aligne les groupes d'input verticalement */
}

.input-group {
    display: flex; /* Utilise Flexbox pour aligner le label et l'input sur la même ligne */
    align-items: center; /* Aligne verticalement au centre */
    margin-bottom: 15px; /* Espacement entre les groupes d'input */
}

.info label {
    margin-right: 10px; /* Espace entre le label et l'input */
    min-width: 110px; /* Largeur minimum pour aligner les labels */
}

.info input {
    border: 1px solid rgba(0, 0, 0, 0.2); /* Bordure fine et semi-transparente */
    border-radius: 5px; /* Coins légèrement arrondis */
    padding: 5px; /* Espacement interne pour l’aération */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
    height: 15px;
}

input text {
    width: 70%; /* Ajuste la largeur de l'input à 100% du conteneur */
    padding: 8px; /* Ajoute un peu de padding à l'input */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */

    
  
}



/* #Opportunite{
            
    margin-bottom: 10px; 
    display: block; 
    border: 1px solid lightgray; 
    height: 20px;
}

#Etude {
    border: 1px solid lightgray;
    height: 20px;
    display: block; 
} */







#date-selection {
    border: none;
    font-size: 18px;
}





#menu-commerciaux {
    border:rgb(20, 2, 2);
    font-size: 19px;
    /* font-weight: bold; */
  
}

#menu-contact-etude {
    border:rgb(20, 2, 2);
    font-size: 19px;
    /* font-weight: bold; */
  
}

#pic-entreprise {
    margin-top: 10px;
  
}

/* footer {
   
   position: sticky;
   bottom: 0;

} */



/*CSS Sommaire*/
#sommaire  {
    font-size: 20px;
}


#sommaire  h1 {
    font-size: 40px;
    text-align: center;
    
}



/*Etat des Lieux et hypothèses du dossier*/
#etat_lieu {
    width: 700px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permet de redimensionner uniquement verticalement */
}

.hypothese {
   
        width: 700px;
        height: 50px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical; /* Permet de redimensionner uniquement verticalement */
    
}
/* Stylisation du conteneur pour répartir les éléments sur la largeur de la page */

.hypotheses-donnees {
    display: flex; /* Utilise Flexbox pour aligner les éléments sur la même ligne */
    justify-content:space-between; /* Met de l'espace entre le titre et le groupe radio */
    align-items: center; /* Centre les éléments verticalement */
    max-width: 90%;
  
}

.page1 {
    display: none;
}


#page3 textarea {
    border: 1px solid rgba(0, 0, 0, 0.2); /* Bordure fine et semi-transparente */
    border-radius: 5px; /* Coins légèrement arrondis */
    padding: 10px; /* Espacement interne pour l’aération */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
    
}

#page4 input {
    border: 1px solid rgba(0, 0, 0, 0.2); /* Bordure fine et semi-transparente */
    border-radius: 5px; /* Coins légèrement arrondis */
    padding: 10px; /* Espacement interne pour l’aération */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
}

#page4 textarea {
    border: 1px solid rgba(0, 0, 0, 0.2); /* Bordure fine et semi-transparente */
    border-radius: 5px; /* Coins légèrement arrondis */
    padding: 10px; /* Espacement interne pour l’aération */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
}

.radio-group-donnees {
    display: flex;
    justify-content: right;
    /* width: 70%; */
    
    margin: 0 10px;
    padding: 5px;
    
    gap: 10px; /* Espace entre les options radio */
}



.radio-group-donnees label {
    display: flex;
    align-items: center;


}

.radio-group-donnees input[type="radio"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.radio-group-donnees .label-text {
    text-align: center;
}


/* Optionnel: pour centrer le texte dans chaque bouton/label */
.label-text {
    text-align: center;
    width: 100%;  /* Chaque label s'étend également */
}

h4 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.donnees-commercial input {
    width: 100%;
}



/*Selection des solutions*/
#solutions {
    font-weight: bold ;   
}


.solutions-donnes {
    margin: 0 30px 0 0px;
    display: flex;
    flex-direction: column; /* Aligne les groupes de saisie verticalement */
    gap: 15px; /* Espace entre chaque ligne */
}

.input-group2 {
    display: flex; /* Aligne le label et l'input sur la même ligne */
    justify-content: space-between; /* Espacement entre le label et le champ de saisie */
    align-items: center; /* Centre verticalement les éléments */
}

.solutions-donnes label {
    min-width: 150px; /* Largeur fixe pour les labels afin qu'ils soient alignés */
    margin-right: 10px; /* Espace entre le label et le champ de saisie */

    
}

.solutions-donnes input {
    flex: 1; /* Remplit l'espace disponible */
    padding: 8px; /* Padding interne du champ */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}



#commentaire_solution  {
    width: 700px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permet de redimensionner uniquement verticalement */
}

#performances_solution  {
    width: 700px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permet de redimensionner uniquement verticalement */
}

#autre-synoptique {
    width: 700px;
    height: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permet de redimensionner uniquement verticalement */
}

/*Selection des Synoptique*/
#selection1 {
    font-weight: bold;
}





/*Affichage des schéma*/
.schema {
    transform: rotate(90deg);
    /* Optionnel: Ajuster la taille si nécessaire */
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(90deg) translateX(250px); 
    transform-origin: center; 
}

/* .image-container {
    width: 19cm; ;
    height: 29cm; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-top: 0px;
    overflow: hidden;
} */


#Annexe  {
   display: flex;
   justify-content: center;
   align-items: center;
}

#title_annexe {

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Position, flou et couleur de l'ombre */
     font-size: 40px; /* Taille du titre */
     color: #333; /* Couleur du texte */
     font-size: 100px;    
    
}




/* Cacher le menu et ajuster la mise en page lors de l'impression */

@media print {
    .menu {
        display: none;       
    }

    .page {            
            border: none;
    }
     

    .container {
        display: block;
    }

    .page-group {
        page-break-after: always;
    }

     @page {
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .page-group:last-of-type {
        page-break-after: auto;
    } 
    /* .print-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    } */

    /* Empêche que le footer se répète sur les pages suivantes */
    .print-footer img {
        page-break-before: avoid;
        page-break-after: always;   
    }
}




